body {
    background-color: $dark-blue;
    h1 {
        color: $orange;
    }
    color: $white;
}

.navbar{
    &.bg-dark {
        background-color: $dark-orange !important;
    }
}

.navbar-dark {

    .navbar-nav .nav-item .nav-link{
        color: $white;
        &:hover {
            color: $black;
        }
    }
    
    .navbar-brand {
        color: $white;
        &:hover {
            color: $black;
        }
    }
}

.card-custom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .card {
        width: 16%;
        background-color: transparent;
        text-align: center;
        border: 0;
        margin: 1%;

        .card-header {
            color: $orange;
            font-size: 130%;
        }
    }

    img {
        height: 280px;
        box-shadow: 0 0 1em $orange
    }

    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $orange;
        }
    }
}

.sinopse-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .sinopse {
        height: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        h2 {
            font-weight: bold;
        }
        p { 
            text-align: justify;
        }
    }

    .sinopse-img {
        text-align: center;
        img {
            height: 500px;
            box-shadow: 10px 10px 5px $orange
        }
    }
}

@media (min-width:1400px) {
    .card-custom {
        .card {
            &:nth-child(5n){
                margin-right: 0;
            }
    
            &:nth-child(5n+1){
                margin-left: 0;
            }
        }
    }
}

@media (min-width:1200px) and (max-width:1399px) {
    .card-custom {
        .card {
            width: 20%;
            background-color: transparent;
            text-align: center;
            border: 0;
            margin-right: 2%;

            &:nth-child(4n){
                margin-right: 0;
            }

            &:nth-child(4n+1){
                margin-left: 0;
            }
        }
    
        img {
            height: 300px;
            box-shadow: 0 0 1em $orange
        }
    }
}

@media (min-width:1000px) and (max-width:1199px) {
    .index {
        text-align: center;
    }
    .sinopse-titulo {
        text-align: center;
    }

    .card-custom {
        .card {
            width: 42%;
            background-color: transparent;
            text-align: center;
            border: 0;
            margin-right: 2%;

            &:nth-child(2n){
                margin-right: 0;
            }

            &:nth-child(2n+1){
                margin-left: 0;
            }
        }
    
        img {
            height: 500px;
            box-shadow: 0 0 1em $orange
        }
    }

    .sinopse-container {
        display: initial;

        .sinopse {
            display: initial;
        }
    }

    .sinopse-botao {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:999px) {
    .index {
        text-align: center;
    }
    .sinopse-titulo {
        text-align: center;
    }
    .card-custom {
        justify-content: space-around;
        .card {
            width: 51%;
            background-color: transparent;
            text-align: center;
            border: 0;
            margin-right: 2%;
        }
    
        img {
            height: 400px;
            box-shadow: 0 0 1em $orange
        }
    }

    .sinopse-container {
        display: initial;

        .sinopse {
            display: initial;
        }
    }

    .sinopse-botao {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
