body {
    background-color: $dark-blue;
    h1 {
        color: $orange;
    }
    color: $white;
}
.navbar-dark {

    .navbar-nav .nav-item .nav-link{
        color: $orange;
        &:hover {
            color: $gray-100;
        }
    }
    
    .navbar-brand {
        color: $orange;
    }
}

.card-custom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .card {
        width: 16%;
        background-color: transparent;
        text-align: center;
        border: 0;
        margin-right: 2%;

        .card-header {
            font-size: 130%;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $orange;
        }
    }
}

