<div class="container mt-4">
    <h1>Últimos filmes adicionados</h1>
    <ul class="card-custom">
        {{#each filmes}}
        <li class="card mb-4">
            <h3 class="card-header">{{nome}}</h3>
            {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg> --}}
            <img src="{{imagemUrl}}" alt="">
            <div class="card-footer">
                <p class="card-text">{{nota}}</p>
                <a href="/sinopse/{{nome}}">Ver mais...</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{!-- <div>
        <ul class="pagination">
            <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">5</a>
            </li>
        </ul>
    </div> --}}
</div>