<div class="container">
    <div class="row">
        <div class="col-7 mx-auto mt-4">
            <h1>Adicionar filme</h1>
            <form action="/novo/inserir" method="post" enctype="multipart/form-data">
                <div class="form-group">
                <label for="inputTitulo" class="form-label mt-4">Nome do filme</label>
                <input type="text" class="form-control" name="inputTitulo" id="inputTitulo" placeholder="Insira o nome do filme" required>
                </div>
                <div class="form-group">
                <label for="inputSinopse" class="form-label mt-4">Sinopse</label>
                <textarea class="form-control" name="inputSinopse" id="inputSinopse" rows="3" data-gramm="false" wt-ignore-input="true" required></textarea>
                </div>
                <div class="form-group">
                <label for="inputNota" class="form-label mt-4">Nota para o filme</label>
                <select class="form-select" name="inputNota" id="inputNota" required>
                    <option disabled selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>
                <div class="form-group">
                <label for="inputImagemUrl" class="form-label mt-4">URL do cartaz do filme</label>
                <input type="text" class="form-control" name="inputImagemUrl" id="inputImagemUrl" placeholder="Insira a URL do cartaz do filme">
                </div>
                <div class="mt-2">OU</div>
                <div class="form-group">
                <label for="inputImagem" class="form-label mt-2">Cartaz do filme</label>
                <input class="form-control" type="file" name="inputImagem" id="inputImagem">
                </div>
                <small class="form-text text-muted">Formatos aceitos: .PNG, .JPG ou .JPEG</small>
                {{#if mensagem}}
                <div class="alert alert-dismissible alert-danger mt-4">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{mensagem}}
                </div>
                {{/if}}
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <button type="submit" class="btn btn-outline-primary btn-lg">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
